streamlit==1.10.0
streamlit-aggrid==0.2.2.post2
streamlit-state==0.1.0
altair==4.2.2
Flask==2.2.3
Flask-Cors==3.0.10
numpy==1.19.2
Flask-SQLAlchemy==2.4.1
torch==1.4.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
pymysql==1.0.2
pandas==1.1.5
jinja2==3.1.2
keras==2.11.0